.products {
    padding: 5px 50px;
    position: relative;
    display: flex;
    flex-direction: column;

    .filter-dropdown {
        position: relative;
        align-self: flex-end;
        margin-bottom: 10px;

        button {
            background-color: transparent;
            // border: 1px solid #ccc;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                // background-color: #e0e0e0;
                background-color: transparent;
                text-decoration: underline;
            }
        }

        .filter-content {
            position: absolute;
            right: 0;
            top: 100%;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            z-index: 10;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            display: flex;
            flex-direction: column;
            gap: 15px;

            .filterItem {
                h2 {
                    font-size: 0.85em;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .inputItem {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;
                    font-size: 0.85em;

                    input[type="range"] {
                        -webkit-appearance: none;
                        appearance: none;
                        flex-grow: 1;
                        margin: 0 10px;
                        height: 3px;
                        background: #000;
                        outline: none;
                        border-radius: 20px;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 15px;
                            height: 15px;
                            background: #000;
                            cursor: pointer;
                            border-radius: 50%;
                        }

                        &::-moz-range-thumb {
                            width: 15px;
                            height: 15px;
                            background: #000;
                            cursor: pointer;
                            border-radius: 50%;
                        }
                    }

                    label {
                        margin-left: 10px;
                        font-size: 0.85em;
                    }
                }
            }

            button {
                align-self: flex-end;
                padding: 5px 15px;
                background-color: #000;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #ffc3b9;
                    // color: #000;
                    animation: pulse 0.5s ease;
                    text-decoration: none;
                }
            }
        }
    }
}
