.success-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;

  &.success {
    background-color: #000;
  }

  &.cancelled {
    background-color: #000;
  }

  .order-details {
    margin-top: 20px;

    p {
      font-size: 1.2rem;
    }
  }

  .icon {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  .home-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #999;
    }
  }
}
