.collection-collage {
  .full-width {
    width: 100%;
    height: 90vh;
    object-fit: cover;
  }

  .text-block {
    text-align: center;
    padding: 20px;
  }

  .photo-row {
    display: flex;
    width: 100%;
    height: 60vh;

    img {
      object-fit: cover;
      display: block;
    }

    .one-quarter {
      width: 25%;
    }

    .half {
      width: 50%;
    }
  }
}
